COMPOSE_PROJECT_NAME=thesis-service
DOCKER_CONTAINERS_RESTART=no
TZ=UTC
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword123
POSTGRES_DB=thesis_db
VALKEY_HOST=127.0.0.1
VALKEY_PORT=6379
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=3
SESSIONS_MAX_LIFE_DAYS=90
SESSIONS_INACTIVE_DAYS=30

